# Sample .env file
# Do not commit to version control!

FIRESTORE_EMULATOR_HOST=""

FIREBASE_API_KEY=""
FIREBASE_APP_ID=""
MESSAGE_SENDER_ID=""
PROJECT_ID=""
AUTH_DOMAIN=""
STORAGE_BUCKET=""
MEASUREMENT_ID=""